.errorModal {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  padding: 8.6rem 2.4rem 3.2rem;

  &-btn {
    width: 100%;
    padding: 1.1rem 0;
  }

  &-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0.8rem;
  }

  &-content {
    margin-bottom: 3.2rem;
  }

  &-img {
    position: absolute;
    width: 18rem;
    height: 13rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
