.title {
  font-size: 1.8rem;
  font-weight: 700;
}

.chosen_voucher {
  &-info {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
