.overlay {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalContainer {
  z-index: 1000;
  background-color: #ffffff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 12px;
  width: 90%;
  max-width: calc(52rem - 1.6rem * 2);

  display: flex;
  justify-content: center;
  align-items: center;
}
