.confirmed {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 11.6rem 1.6rem;
    height: calc(100vh - 5.6rem);
  }

  &-img {
    width: 18rem;
    height: 13rem;
    margin-bottom: 2.4rem;
  }

  &-header {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 0.8rem;
  }

  &-content {
    margin-bottom: 3.2rem;
    text-align: center;
    font-size: 1.4rem;
  }

  &-primaryBtn {
    padding: 1.1rem 0;
    width: 100%;
    margin-bottom: 1.6rem;
  }

  &-hotline {
    font-weight: 600;
    color: rgba(246, 93, 121, 1);

    &:active,
    &:hover {
      color: #ac4155;
    }
  }
}
