.step {
  &-hero {
    padding: 1.6rem 2.4rem;
    font-weight: 600;
    line-height: 22px;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    &_text {
      font-weight: 700;

      & span {
        margin-right: 0.4rem;
      }

      & strong {
        font-weight: 600;
        color: #9a9a9a;
      }
    }

    &_selectAll {
      font-weight: 600;
      font-size: 1.4rem;
      color: #f65d79;
      cursor: pointer;

      & .ant-checkbox .ant-checkbox-inner {
        display: none;
      }
    }
  }
}
.vouchers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  margin-bottom: 2.4rem;
  &:last-child {
    margin-bottom: 0;
  }

  transition: 0.2s ease-in-out;
  &:active {
    transform: scale(0.9);
  }

  & .ant-checkbox + span {
    display: flex;
    gap: 1.2rem;
  }
}

.voucher-info {
  display: flex !important;
  align-items: center !important;
  width: 100%;
  min-height: 11.2rem;
  gap: 0.4rem;
  padding: 1.2rem !important;
  border-radius: 12px;
  transition: 0.2s ease-in-out;

  &_img {
    flex: 0 0 8.8rem;
    height: 8.8rem;
    border-radius: 8px;
    object-fit: cover;
  }

  &_text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &-name {
      font-weight: 600;
      overflow-wrap: break-word;
    }
    &-code {
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.8rem;

      color: #9a9a9a;
    }
  }
}

.redeem-btn {
  font-size: 1.4rem;
  width: 100%;
  padding: 1.1rem;
}

.selected-info {
  padding: 1.4rem 2.8rem !important;
  color: #7c6916 !important;
  background-color: #fcedab !important;
}

.noVoucher {
  &-container {
    height: calc(100vh - 5.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    padding: 25rem 4.4rem !important;

    & img {
      width: 12.3rem;
      height: 8.6rem;
    }
  }

  &-text {
    font-weight: 600;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(246, 93, 121, 1) !important;
}

.ant-checkbox-inner,
.ant-checkbox-input {
  border-radius: 4px !important;
  border: 2px solid rgba(246, 93, 121, 1) !important;
  border-color: rgba(246, 93, 121, 1) !important;
  transform: translateY(-1.85714286px);
}

.ant-checkbox-inner {
  width: 24px !important;
  height: 24px !important;

  &::after {
    width: calc(5.71428571px * 1.3) !important;
    height: calc(9.14285714px * 1.3) !important;
  }
}

.ant-checkbox-checked {
  &::after {
    border: none !important;
  }
}
