.infoForm {
  &-alert {
    padding: 1.2rem 1.6rem;
    font-size: 1.4rem;
  }

  &_submit-btn {
    width: 100%;
    padding: 1.1rem 0;
  }
}

$br: 8px;
.giftCode {
  & input {
    border-radius: $br 0 0 $br !important;
    padding: 0.6rem 1.2rem !important;
  }
}

.ant-input-group-addon {
  width: 30% !important;
  border-radius: 0 $br $br 0 !important;
  border: none !important;
  padding: 0.7rem 1.2rem !important;
  background-color: #f8d12c !important;
  color: white !important;
  font-weight: 600 !important;

  &:active {
    background-color: #c4a622 !important;
  }
}
