.history {
  &-title {
    margin-bottom: 1.6rem;
  }
}

.callTAPTAP {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.8rem 1.6rem 2.4rem !important;
    margin-top: 3.2rem;
  }

  &-text {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  &-btn {
    width: 100%;
    padding: 1.1rem 0;
    color: #ffffff !important;
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
