.confirmModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 3.2rem 2.4rem;
  gap: 2rem;

  &-header {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  &-content {
    text-align: center;
  }

  &-btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;

    width: 100%;
  }
  &-btn {
    width: 50%;
    padding: 1.1rem 0;
  }
}
