.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  $headerHeight: 5.4rem;
  $bottomHeight: 8.4rem;
  min-height: calc(100vh - $headerHeight - $bottomHeight);

  & img {
    width: 20%;
    height: 20%;
  }

  & p {
    font-weight: 600;
  }
}
