.ant-notification-top .ant-notification-notice,
.ant-notification-bottom .ant-notification-notice {
  border-radius: 42px !important;
  background-color: rgba(255, 76, 77, 1);
}
.ant-notification-notice-icon {
  & img {
    width: 24px;
    height: 24px;
  }
}

.ant-notification-notice-message {
  font-weight: 600;
  font-size: 12px !important;
  line-height: 18px;
  color: #ffffff;
}
