//notification
.notification {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.2rem;

  & img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.ant-notification-notice-message {
  margin-bottom: 0;
}
.ant-notification-notice {
  padding: 1.2rem;
}
.ant-notification-notice-close {
  display: none;
}
.ant-notification-notice-closable .ant-notification-notice-message {
  padding-right: 0;
}
.ant-notification-notice {
  width: max-content;
}

.ant-divider-horizontal {
  margin: 16px 0;
}
