.ant-input {
  border-radius: 8px;
  padding: 1.6rem;
  font-weight: 600;

  caret-color: rgba(13, 201, 139, 1);

  &:hover,
  &:focus,
  &-focused {
    border-color: #1a1818;
    box-shadow: 0 0 0 1px #1a1818;
  }
}
.ant-form-item-label {
  font-weight: 600;
}

//Customize Select
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding: 1.2rem 0.4rem;
}
.ant-select-single.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 54px;
}
.ant-select-single .ant-select-selector .ant-select-selection-search {
  top: 12px;
  left: 16px;
}
.ant-select-selection-item {
  font-weight: 600;
}
.ant-select-selection-placeholder {
  font-weight: 600;
}

//Customize Require Mark
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
  &:before {
    display: none;
  }
  &:after {
    display: inline-block;
    margin-left: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }
}

.ant-select-selector {
  border-radius: 8px !important;
  caret-color: rgba(13, 201, 139, 1);
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #1a1818;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #1a1818;
  box-shadow: 0 0 0 1px #1a1818;
}

.ant-form-item {
  &:last-child {
    margin-bottom: 0;
  }
}

.ant-modal-body {
  padding: 0;
}
