@font-face {
  font-family: "Archia";
  font-weight: 400;
  src: url("../assets/font/ArchiaVN/Archia-Regular.otf");
}

@font-face {
  font-family: "Archia";
  font-weight: 600;
  src: url("../assets/font/ArchiaVN/Archia-DemiBold.otf");
}

@font-face {
  font-family: "Archia";
  font-weight: 700;
  src: url("../assets/font/ArchiaVN/Archia-Bold.otf");
}

* {
  box-sizing: border-box;
  font-family: "Archia", sans-serif !important;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #eff3f6;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 52rem;
  margin: 0 auto;
}

.flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.mt-1 {
  margin-top: 1rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}

//flex
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex;
}
.f-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 0.8rem;
}
.gap-2 {
  gap: 2rem;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.container {
  background-color: white;
  padding: 2.4rem 1.6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.pageContent-container {
  margin-top: 5.4rem;
  padding-bottom: 8.4rem;
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 52rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 52rem;
}

.primary-btn {
  color: white;
  background: #f65d79 !important;

  font-weight: 600;
  border-radius: 8px;
  border: none;

  transition: 0.2s ease-in-out;
  &:active {
    background-color: #ac4155 !important;
    transform: scale(0.9);
  }

  &:disabled {
    background: #ececec !important;
    color: white !important;

    &:active {
      transform: none;
    }
  }
}

.secondary-btn {
  color: rgba(26, 24, 24, 1);
  background: rgba(255, 255, 255, 1) !important;

  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #cacaca;

  transition: 0.2s ease-in-out;
  &:active {
    background-color: #eff3f6 !important;
    transform: scale(0.9);
  }
}

.ant-notification-notice {
  border-radius: 12px !important;
}

.ant-modal-content {
  border-radius: 12px !important;
}

.clickable-text-secondary {
  font-weight: 600;
  color: #f65d79;
  cursor: pointer;
}
