.loadingModal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;

  padding: 2.4rem;

  width: fit-content;

  & img {
    width: 11.275rem;
    height: 8.8rem;
  }

  & p {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
