.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;

  height: 100vh;

  &-img {
    width: 12.3rem;
    height: 8.6rem;
  }

  &-btn {
    padding: 1.1rem;
  }
}
