.ordersGroup {
  &-container {
    margin-bottom: 1.2rem;
    padding: 1.6rem 1.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-date {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgba(154, 154, 154, 1);
    margin-bottom: 1.2rem;
  }

  &-firstReward {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1.4rem;

    &_img {
      width: 8.8rem;
      height: 8.8rem;
      object-fit: cover;
      border-radius: 8px;
    }

    &_name {
      font-weight: 600;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;

    &_count {
      color: rgba(154, 154, 154, 1);
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

    &_more {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;

      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: #f65d79;
      cursor: pointer;
    }
  }
}
