.page {
  &-title {
    z-index: 99;
    position: relative;
    padding: 1.6rem 6.6rem;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #ececec;
    font-weight: 600;

    &.has-back {
      & img {
        position: absolute;
        top: 20px;
        left: 24px;
      }
    }

    &_history {
      position: absolute;
      top: 16px;
      right: 17.5px;
      color: rgba(246, 93, 121, 1);
      font-weight: 600;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}
